@font-face {
  font-family: 'DinProRegular';
  src: url('../fonts/dinpro/DINPRO-REGULAR.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DinProMediumRegular';
  src: url('../fonts/dinpro/DINPRO-MEDIUM-REGULAR.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DinProLightRegular';
  src: url('../fonts/dinpro/DINPRO-LIGHT-REGULAR.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DinProBoldRegular';
  src: url('../fonts/dinpro/DINPRO-BOLD-REGULAR.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DinProBlackRegular';
  src: url('../fonts/dinpro/DINPRO-BLACK-REGULAR.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'PT Serif';
  font-size: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  transition: left .5s;
  left:0;
  
	&.bodyleft
	{
		left: -232px;
	}
}

.bodyshadow
{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 50;
	background: rgba(0,0,0,.5);
}

html
{
	height: 100%;
	font-size: 100%;
}

label {

}

input {

}

.left
{
	float: left;
}

.right
{
	float: right;
}

.hide
{
	display: none;
}

.show
{
	display: block;
}
