@import 'constants.less';

.center-block {
  margin: 0 auto;
}

.reset-a {
  text-decoration: none;
  color: inherit;
}

.clear-both {
  clear: both;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.column {
  border: 1px solid @L-GRAY;
}

.side-bar {
  
}

.items{
	//border: 1px solid #ebebeb;
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
