#help {
    display: block;
    font-size: 12px;
    position: fixed;
    right: 0;
    top: 250px;
    width: 279px;
    z-index: 5;
    font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
}

#help img{
    border: 0px;
}

#help-panel {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    display: none;
    float: right;
    width: 240px;
}

#help-panel .collapse {
    display: none;
    float: left;
    padding: 15px 10px;
    font-size: 12px;
    line-height: 15px;
}

#help-panel .collapse a {
    font-size: 11px;
    color: black;
    text-decoration: underline;
    font-size: 12px;
}

#support-header {
    background: url("../img/helper/24-7-bg.gif") repeat-x scroll 0 0 transparent;
    height: 17px;
    padding: 2px 0 0 10px;
}

#help-panel .main {
    /*background: url("../img/helper/item-bg.gif") repeat-x scroll 0 0 transparent;*/
    float: left;
    height: 37px;
    width: 240px;
}

#help-panel a.title {
    background: url("../img/helper/but-right.gif") no-repeat scroll 10px 15px transparent;
    color: #444;
    display: block;
   padding: 10px 10px 12px 22px;
font-size: 11px;
}

#help-panel a.title span {
    color: #666;
    display: block;
    font-weight: bold;
    font-size: 12px;
}

#help-panel a.selected {
    background: url("../img/helper/but-down.gif") no-repeat scroll 10px 15px transparent;
}

#help a {
    text-decoration: none;
}

#help-button {
    float: right;
}