html, body {height: 100%;
-webkit-overflow-scrolling: touch;
}
body{overflow-y: scroll;}
/*mobile and tablet*/
@media (min-width: 320px) and  (max-width: 1023px) {
	
}
/*tablet*/
@media (min-width: 768px) and  (max-width: 1024px) {
	
}
/*mobile*/
@media (min-width: 320px) and  (max-width: 767px) { 
	#top .hot {margin-left: 0;}
	#top .logo {margin: 10px 0;font-size: 18px;width: 100%;}
	.phone {font-size: 18px;}
	#top .right {text-align: left;margin-bottom: 20px;}
	.navbar-nav li {width: 100%;}
	.navbar-nav {text-align: right;}
	.navbar-nav {margin: 0 0;}
	.header-slider .header-title {font-size: 32px;margin-bottom: 0;margin-top: 0;}
	.header-slider .inn {padding: 290px 0 30px;}
	#header {min-height: 620px;}
	#about {padding: 45px 0;}
	#about .left {margin-bottom: 30px;}
	#about .img-m {margin-top: 15px;}
	#about .img-m img {width: 100%;}
	.pr-0 {padding-right: 15px;}
	#catalog {padding: 45px 0;}
	#catalog .cat-box p {min-height: auto;}
	#reviews {padding: 45px 0;}
	.reviews-slider .owl-nav {display: none;}
	#reviews .inn {width: 100%;}
	#work {padding: 45px 0;}
	.work-box .count {display: none;}
	.map {position: relative;}
	#contacts {padding: 0 0;}
	#footer .soc {margin: 30px 0;text-align: left;}
	#footer .right {text-align: left;}
	#footer {padding: 25px 0;}
}


