.bold {
  font-weight: 700;
}
/*reset*/
* {
  margin: 0;
  padding: 0;
}
:focus {
  outline: 0;
}
body {
  color: #333;
  font-size: 14px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  background: #fff;
}
a,
a:focus,
a:active,
input,
input:focus,
input:active,
button,
button:focus,
button:active,
.btn,
.btn:focus,
.btn:active {
  outline: none !important;
}
a:hover {
  text-decoration: underline;
}
a.btn:hover,
a.btn:focus,
a.btn:active {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}
.clear {
  clear: both;
}
.w-100 {
  width: 100%;
}
img {
  max-width: 100%;
}
p {
  margin-bottom: 10px;
}
.navbar-toggle .icon-bar {
  background: #000;
}
.owl-nav .owl-prev,
.owl-nav .owl-next {
  width: 35px;
  height: 35px;
  z-index: 100;
  top: 50%;
  margin-top: -22px;
  position: absolute;
  color: #000;
  border-radius: 50%;
  border: 2px solid #000;
  font-size: 24px;
  line-height: 32px;
}
.owl-nav .owl-prev:hover,
.owl-nav .owl-next:hover {
  color: #a40e0e;
  border-color: #a40e0e;
}
.owl-nav .owl-prev {
  left: -60px;
}
.owl-nav .owl-next {
  right: -60px;
}
.owl-nav .owl-prev:before {
  content: "\f0d9";
  display: inline-block;
  font-family: FontAwesome;
  padding-left: 9px;
}
.owl-nav .owl-next:before {
  content: "\f0da";
  display: inline-block;
  font-family: FontAwesome;
  padding-left: 13px;
}
.owl-dots {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 10px;
}
.owl-dot {
  border: none;
  text-indent: -3000px;
  width: 14px;
  height: 14px;
  background: #fff;
  outline: none;
  padding: 0;
  margin: 0;
  margin-right: 8px;
  border-radius: 50%;
  display: inline-block;
}
.owl-dot.active {
  background: #d0a621;
}
.close {
  width: 28px;
  height: 28px;
  border: none;
  opacity: 1;
  font-weight: normal;
  background: transparent;
  color: #000;
  margin-top: 4px;
  margin-right: 5px;
  text-shadow: none;
  /* border-radius: 50%; */
  float: right;
}
.close:before {
  content: "\f00d";
  display: block;
  font-family: FontAwesome;
}
.modal-content {
  border-radius: 0px;
  border: 0px;
  padding: 15px;
  background: #fff;
}
.modal-content h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 30px;
}
.modal-content .btn {
  width: 100%;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
}
.modal-content .inn {
  padding: 30px 45px;
  border: 1px solid #b9b9b9;
  text-align: center;
}
@media (min-width: 768px) {
  .modal-content {
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  }
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 450px;
    margin: 30px auto;
  }
}
.form-horizontal .form-group {
  margin-right: 0px;
  margin-left: 0px;
}
.form-control {
  border: 1px solid #c7c7c7;
  border-radius: 0px;
  padding: 6px 15px;
  box-shadow: none;
  height: 47px;
  padding: 10px 15px;
  background: #f3f3f3;
  font-style: italic;
}
.form-control:focus {
  border: 1px solid #a40e0e;
  box-shadow: none;
}
select.form-control {
  height: 47px;
  border-radius: 0px;
}
.btn {
  height: 47px;
  padding: 0px 20px;
  border-radius: 0px;
  background: #a40e0e;
  cursor: pointer;
  color: #fff;
  position: relative;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  line-height: 45px;
  border: 1px solid #c7c7c7;
}
.btn.small {
  height: 23px;
  line-height: 20px;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #a40e0e;
}
.btn img {
  width: auto;
  display: inline-block;
  max-width: 25px;
  margin-top: -3px;
  margin-left: 10px;
}
.owl-carousel .owl-item .btn img {
  width: auto;
  display: inline-block;
  max-width: 25px;
}
.btn:hover {
  background: #7b0b0b;
  border: 1px solid #7b0b0b;
  color: #fff;
}
.btn:focus {
  color: #fff;
  background: #a40e0e;
}
.win {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #eee;
  text-align: center;
  background: url(../img/header.jpg) no-repeat top center;
  background-size: cover;
  color: #fff;
  padding: 15% 0;
}
.win h1 {
  font-size: 48px;
  margin-bottom: 20px;
}
.win .btn {
  text-decoration: none;
  display: inline-block;
  max-width: 240px;
  margin-top: 20px;
}
.win .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -5;
  background: rgba(91, 81, 80, 0.85);
}
.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.navbar {
  border-radius: 0;
  height: auto;
  margin-bottom: 0;
  border: none;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.w-100 {
  width: 100%;
}
.m-auto {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#header {
  min-height: 685px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
#top {
  position: relative;
  z-index: 5;
}
#top .hot {
  min-width: 105px;
  margin-left: -105px;
  height: 80px;
  background: url(../img/header/hot.png) no-repeat bottom center;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding-top: 15px;
  float: left;
  margin-right: 10px;
}
#top .hot:hover a {
  text-decoration: none;
}
#top .hot a {
  color: #fff;
}
#top .logo {
  margin: 22px 0;
  font-size: 24px;
  font-weight: 700;
  color: #fdf6a3;
  float: left;
}
#top .soc {
  margin: 25px 0;
}
#top .right {
  text-align: right;
}
#top .right .btn {
  border: 1px solid #a40e0e;
}
.header-slider .btn {
  min-width: 275px;
}
.soc {
  text-align: center;
}
.soc a {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #999999;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
}
.soc a:hover {
  background: #a40e0e;
}
.phone {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #fdf6a3;
  font-size: 24px;
  font-weight: 700;
}
.navbar {
  width: 100%;
  margin: 0 0;
  background: #fff;
  position: relative;
  z-index: 5;
  min-height: auto;
}
.navbar-nav {
  text-align: center;
  width: 100%;
}
.navbar-nav li {
  float: none;
  display: inline-block;
}
.navbar-nav li a {
  color: #000;
  padding: 13px 20px;
}
.navbar-nav li a:hover {
  background: #50514d;
  color: #fff;
}
.navbar-nav li a:focus {
  background: #50514d;
  color: #fff;
}
.header-slider {
  position: absolute !important;
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  color: #fff;
}
.header-slider .header-title {
  font-size: 46px;
  text-shadow: 1px 1px 1px #000;
  margin-bottom: 35px;
  text-transform: uppercase;
  font-weight: 700;
}
.header-slider .header-title span {
  font-size: 36px;
  font-weight: normal;
}
.header-slider .inn {
  padding: 315px 0 130px;
}
.slide-1,
.slide-2,
.slide-3,
.slide-4 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.slide-1 {
  background-image: url(../img/header/slider/1.jpg);
}
.slide-2 {
  background-image: url(../img/header/slider/2.jpg);
}
.slide-3 {
  background-image: url(../img/header/slider/3.jpg);
}
.slide-4 {
  background-image: url(../img/header/slider/4.jpg);
}
.mb-20 {
  margin-bottom: 20px;
}
#about {
  padding: 90px 0;
}
#about {
  background: url(../img/about/bg.png);
}
#about .img-m img {
  margin-bottom: 5px;
}
.title {
  text-transform: uppercase;
  padding-bottom: 5px;
  /*border-bottom: 1px solid #000;*/
  text-decoration: underline;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 400;
}
.pr-0 {
  padding-right: 0;
}
#catalog {
  padding: 90px 0 45px;
  background: url(../img/catalog/bg.jpg) no-repeat center center;
  background-size: cover;
}
#catalog .title {
  color: #fff;
}
#catalog .cat-box {
  background: #fff;
  border: 1px solid #c7c7c7;
  margin-bottom: 30px;
}
#catalog .cat-box img {
  width: 100%;
}
#catalog .cat-box .cat-title {
  padding: 15px 0;
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
#catalog .cat-box p {
  padding: 15px;
  font-size: 14px;
  margin-bottom: 0;
  min-height: 125px;
}
#reviews {
  padding: 60px 0 90px;
}
#reviews .inn {
  width: 80%;
  margin: 0 auto;
}
.reviews-img img {
  border-radius: 5px;
}
.reviews-text {
  border: 1px solid #cfcfcf;
  position: relative;
  padding: 40px;
  font-style: italic;
}
.reviews-text:before {
  content: "";
  position: absolute;
  top: 15px;
  left: 10px;
  width: 28px;
  height: 18px;
  background: url(../img/reviews/quote1.png) no-repeat center center;
}
.reviews-text:after {
  content: "";
  position: absolute;
  bottom: 15px;
  right: 10px;
  width: 28px;
  height: 18px;
  background: url(../img/reviews/quote2.png) no-repeat center center;
}
p.name {
  font-style: normal;
  font-weight: 700;
}
#work {
  padding: 80px 0 80px;
  background: url(../img/work/bg.jpg) no-repeat center center;
  background-size: cover;
  color: #fff;
}
.work-box {
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
}
.work-box .inn {
  position: relative;
}
.work-box .count {
  /* margin-right: 10px; */
  font-size: 132px;
  color: #fdf6a3;
  font-weight: 700;
  line-height: 60px;
  position: absolute;
  top: 10px;
  left: -25px;
}
.work-box .text p {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 20px;
}
#contacts {
  min-height: 480px;
  position: relative;
  padding: 60px 0 90px;
  width: 100%;
}
.cont-box {
  background: rgba(255, 255, 255, 0.85);
  max-width: 570px;
  padding: 30px 30px;
  font-size: 18px;
  border: 1px solid #cbcbcb;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}
.cont-box p {
  margin-bottom: 20px;
}
.cont-box a {
  color: #000;
}
.map {
  width: 100%;
  min-height: 480px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}
#footer {
  padding: 25px 0 10px;
  color: #fff;
  background: #000;
}
#footer .left {
  padding-top: 5px;
  font-size: 16px;
  color: #fdf6a3;
  font-weight: 700;
}
#footer .phone {
  font-size: 16px;
  margin-top: -10px;
}
#footer .right {
  text-align: right;
}
.text-upp {
  text-transform: uppercase;
}
.mb-10,
.modal-content h3.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.modal-dialog.faq-box {
  text-align: left;
  font-size: 16px;
  width: 600px;
}
.modal-dialog.faq-box .modal-content .inn {
  padding: 40px 25px;
}
.question {
  text-transform: uppercase;
  font-weight: 700;
  padding: 5px 20px;
  background: #f3f3f3;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #c7c7c7;
  text-align: left;
}
.answer {
  text-align: left;
}
.navbar-toggle {
  margin-right: 0;
}
