html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tfoot, thead, th {
margin: 0;
padding: 0;
border: 0;
}
table {border-collapse: collapse;}
body{
color: #000;
font-family: 'Open Sans', sans-serif;
z-index: 0;
background: #fff;
font-size: 14px;
line-height: 25px;
}
a {
color:#5ba1e5;
}
h1, h2, h3, h4, h5, h6{
	
}
h1 {
margin-bottom: 10px;
font-size: 30px;
color: #fff;
font-weight: normal;
line-height: 40px;
text-align:center;
}
h2 {
line-height: 35px;
margin-bottom: 10px;
font-size: 28px;
text-align: center;
color: #000;
font-weight: normal;
}
h3 {
font-size: 18px;
color: #000;
padding: 0px 0px 5px 0px;
}
h4 {
font-size: 22px;
margin-bottom: 10px;
}
h5 {
text-align: center;
font-size: 20px;
font-weight: normal;
margin-bottom: 10px;
}
p {
margin-bottom:10px;
}
.clear {
clear:both;
}
#center {
width:980px;
margin:0 auto;
position:relative;
}
#win1 {
position:fixed;
top: 27%;
left: 37%;
width:400px;
padding:30px;
background:#fcfcfc;
text-align: center;
border: 2px solid #ff0000;
border-radius: 5px;
z-index:100;
}
#overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #000;
z-index: 50;
}
#header {
width:1000px;
margin:0 auto;
padding:20px 0px 0px 0px;
font-weight: 300;
}
.slogan {
font-size: 22px;
line-height: 35px;
float: left;
padding-top:40px;
}
.logo {
margin: 0 auto;
width: 400px;
text-align: center;
font-size:24px;
}
.s1 {
color:#5ba1e5;
font-weight: bold;
}
.s2 {
color:#e47e33;
font-weight: bold;
}
.mail {
float: right;
text-align: left;
font-size: 22px;
padding-top:40px;
}
.box1 {
width:100%;
height:260px;
background: url(../img/box1.jpg);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position:center top;
padding:100px 0px 0px 0px;
text-align:center;
margin:20px 0px;
}
.box1 h1 {
text-align: center;
font-weight: bold;
font-size: 38px;
text-shadow: 1px 1px 1px #000;
line-height: 50px;
}
.box1 h1  span {
font-style:italic;
font-size: 28px;
}
#button1 {
border: none;
color: #fff;
font-size: 20px;
text-align: center;
background: url(../img/button1.png) repeat-x;
background-position: 0px 0px;
font-weight: normal;
border-radius: 5px;
cursor: pointer;
width: 180px;
z-index: 10;
position: relative;
text-decoration:none;
display:block;
margin: 20px auto;
padding: 10px 0px;
}
#button1:hover {
background-position: 0px -48px;
}
.b1 {
text-align:center;
float:left;
width:300px;
padding:10px 3px;
}
.b1 p {
font-size: 18px;
margin-top:10px;
}
.spisok1 {
text-align:left;
background: url(../img/spisok1.png);
padding: 10px;
min-height: 130px;
border-radius: 10px;
display: block;
margin: 0px 10px;
font-size: 16px;
list-style-type:none;
}
.spisok1 li {
padding-left:20px;
background: url(../img/spisok1_li.png) no-repeat top left;
}
.box2 {
width:100%;
background: url(../img/box2.jpg);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position:center top;
padding:20px 0px 20px 0px;
text-align:center;
margin:20px 0px;
}
#slide {
width:800px;
margin:20px auto;
background:#fff;
border-radius:10px;
height: 620px;
}
.next {
display: block;
right: 30px;
top: 280px;
background: url(../img/next.png) no-repeat center center;
width: 40px;
height: 120px;
text-indent: -9999px;
z-index: 20;
position: absolute;
}
.next:hover {
right: 28px;
top: 282px;
}
.prev {
display:block;
left: 30px;
top: 280px;
background: url(../img/prev.png) no-repeat  center center;
width: 40px;
height: 120px;
text-indent:-9999px;
z-index: 20;
position: absolute;
}
.prev:hover {
left: 28px;
top: 282px;
}
.ras {
width: 390px;
float: left;
background: url(../img/ras.png) no-repeat right center;
font-size: 18px;
height: 300px;
padding-right: 40px;
}
.ras p.bold{
line-height: 40px;
font-size:28px;
font-weight:bold;
}
#form {
width:380px;
padding:20px;
border:2px solid #5ba1e5;
border-radius:10px;
text-align:center;
float: right;
height: 260px;
}
hr {
border: 0px;
display: block;
margin: 10px auto;
width: 80%;
height: 1px;
background: #ececec;
}
.popup-form input[type="text"], .popup-form textarea, .popup-form select {
height: 21px;
padding: 3px 10px;
border: 3px solid #ececec;
color: #353535;
border-radius: 5px;
margin: 5px 15px;
width: 225px;
background: #fff;
font-size: 14px;
vertical-align: middle;
}
#submit {
border: none;
color: #fff;
font-size: 14px;
text-align: center;
text-transform: uppercase;
background: url(../img/submit.png);
background-repeat: repeat-x;
background-position: top left;

margin-top: 10px;
padding: 10px 0px 10px 0px;
font-weight: bold;
border-radius: 5px;
cursor: pointer;
width: 160px;
z-index: 30;
position: relative;
}
#submit:hover {
background:#e47e33;
}
.box3 {
width:100%;
height:140px;
padding:30px 0px 0px 0px;
background: url(../img/box3.png);
background-repeat: repeat-x;
margin:20px 0px;
color:#fff;
}
.r1 {
float:left;
width:400px;
font-size: 32px;
}
.r1 span {
font-size: 24px;
}
.r2 {
float:right;
width:400px;
text-align:center;
}
.r2 p {
font-size:14px;
}
.r2 #button1 {
width: 360px;
}
#footer {
width:1000px;
padding:20px 0px;
margin:40px auto; 
border-top:1px solid #ececec;
font-weight: 300;
}
#footer .slogan {
width: 400px;
line-height: 25px;
padding-top: 0px;
}
#footer .logo {
width:133px;
padding-top: 20px;
}
#footer .mail {
padding-top: 20px;
}
.popup {
text-align:center;
background:#fff;
width: 100%;
height: 100%;
padding: 0px;
border-radius: 0px;
border: 2px solid #5ba1e5;
}
.porf {
padding:20px;
position:relative;
text-align: left;
}
.price {
background:#e23535;
width:145px;
height:60px;
padding: 20px 10px;
position:absolute;
top:0px;
right:0px;
text-align:center;
color:#fff;
border-radius:10px;
font-size: 20px;
}
.plogo {
float:left;
margin-right:20px;
}
.bkt {
background: url(../img/ras.png) no-repeat center center;
float: left;
width: 100%;
}
.box4 {
border-radius:10px;
padding:10px;
border:2px solid #5ba1e5;
background: url(../img/box4.png) no-repeat right bottom;
float:left;
margin:20px 0px;
width:330px;
height:225px;
}
.box5{
border-radius:10px;
padding:10px;
border:2px solid #e47e33;
background: url(../img/box5.png) no-repeat right bottom;
float:right;
margin:20px 0px;
width:330px;
height:225px;
}
.time {
display: block;
width: 354px;
float: left;
text-align: right;
font-size: 18px;
}
#button2 {
border: none;
color: #fff;
font-size: 14px;
text-align: center;
text-transform: uppercase;
background: url(../img/submit.png);
background-repeat: repeat-x;
background-position: top left;
padding: 7px 10px;
font-weight: bold;
border-radius: 5px;
cursor: pointer;
z-index: 30;
position: relative;
text-decoration:none;
float: right;
}
#button2:hover {
background:#e47e33;
}
.name {
font-size: 18px;
}
.box6 {
padding:10px;
background:#f8f8f8;
border:2px solid #ececec;
border-radius:10px;
min-height: 100px;
}
.box6 img {
float:left;
margin-right:10px;
}