@red:#FF7755;
@gray:#D2D2D2;
@light:#F4F4F4;
/*@green:#6AF1AF;*/
@green:#2f9f13;
@blue:#0377BE;
@font-face {
  font-family: 'Circe-Bold';
  src: url('../fonts/Circe-Bold.eot');
  src: url('../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe-Bold.woff') format('woff'),
    url('../fonts/Circe-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Regular.eot');
  src: url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe-Regular.woff') format('woff'),
    url('../fonts/Circe-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*reset*/
*{margin:0;padding:0;}                
:focus { outline: 0;}
body{
color: #000;
font-size: 16px;
line-height: 1.2;
font-family: 'Circe', sans-serif;
background: #fff;
}
a, a:focus, a:active, input, input:focus, input:active, button, button:focus, button:active, .btn, .btn:focus, .btn:active  {
    outline: none !important;
}
a {
  
}
a:hover {
  text-decoration:underline;
}
a.btn:hover, a.btn:focus, a.btn:active {
  text-decoration:none;
}
ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
}
.bold {
  font-family: 'Circe-Bold';
}
.normal {
  font-family: 'Circe', sans-serif;
}
h1, h2, h3, h4, h5, h6, .font-alt{
  font-family: 'Circe-Bold';
}
.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {margin-right: 0;margin-left: 0;}
.clear {
clear:both;
}
.w-100 {
  width: 100%;
}
img {
  max-width: 100%;
}
p {
  margin-bottom: 10px;
}
.navbar-toggle .icon-bar {
  background: #602980;
}
.owl-nav .owl-prev,
.owl-nav .owl-next {
  width: 40px;
  height: 80px;
  z-index: 100;
  opacity: 0.9;
  top: 50%;
  margin-top: -22px;
  position: absolute;
  font-size: 52px;
  text-align: center;
  color: #7D7D7A;
}
.owl-nav .owl-prev:hover,
.owl-nav .owl-next:hover {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  opacity: 1;
}
.owl-nav .owl-prev {
  left: -60px;
}
.owl-nav .owl-next {
  right: -60px;
}
.owl-nav .owl-prev:before {
  content: "\f104";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  margin: 5px 0 0 0;
}
.owl-nav .owl-next:before {
  content: "\f105";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  margin: 5px 0 0 0;
}
.owl-dots {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 10px;
      text-align: right;
    padding: 0 15px;
}
.owl-dot {
  border: none;
  text-indent: -3000px;
  width: 14px;
  height: 14px;
  background: none;
  outline: none;
  padding: 0;
  margin: 0;
  margin-right: 8px;
  display: inline-block;
  border:2px solid #fff;
}
.owl-dot.active {
  background: @green;
}
.close {
  width: 28px;
  height: 28px;
  border: none;
  opacity: 1;
  font-weight: normal;
  background: transparent;
  color: #404040;
  margin-top: 0px;
  margin-right: -5px;
  text-shadow: none;
  /* border-radius: 50%; */
  float: right;
}
.close:before {
  content: "\f00d";
  display: block;
  font-family: FontAwesome;
}
.modal-content {
  border-radius: 5px;
  border: 0px;
  padding: 20px;
  background: #EEEDE7;
}
@media (min-width: 768px) {
  .modal-content {
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  }
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 400px;
    margin: 30px auto;
  }
}
.form-horizontal .form-group {
  margin-right: 0px;
  margin-left: 0px;
}
.form-control {
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  padding: 6px 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) inset;
  height: auto;
  padding: 10px 15px;
}
.form-control:focus {
  border: 1px solid rgba(96, 41, 128, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) inset;
}
select.form-control {
  height: 42px;
}
.btn {
  height: 44px;
    padding: 11px 30px;
    border-radius: 3px;
    border: none;
    background: #ff7755;
    text-align: center;
    cursor: pointer;
    color: #fff;
    position: relative;
    display: inline-block;
    font-size: 16px;
    max-width: 100%;
    border:2px solid @red;
  .bold;
  &.gray {
    background: transparent;
    border:2px solid @gray;
    color:#000;
  }
  &.border {
    border-color: #000;
    background: transparent;
    color:#000;
  }
  &.white {
    color:#fff;
    border-color: #fff;
    background: transparent;
  }
}
.btn:hover {
  background: @green;
  color: #fff;
  border-color:@green;
}
.btn:focus {
  color: #fff;
  background: @red;
  border-color:@red;
}
.win {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #eee;
  text-align: center;
  background: url(../img/header.jpg) no-repeat top center;
  background-size: cover;
  color: #fff;
  padding: 15% 0;
}
.win h1 {
  font-size: 48px;
  margin-bottom: 20px;
}
.win .btn {
  text-decoration: none;
  text-decoration: none;
  display: inline-block;
  max-width: 240px;
  margin-top: 20px;
}
.win .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -5;
  background: rgba(91, 81, 80, 0.85);
}
.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.navbar {
  border-radius: 0;
  height: auto;
  margin-bottom: 0;
  border:none;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.w-100 {
  width: 100%;
}
.m-auto {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.col-xs-1-5, .col-sm-1-5, .col-md-1-5, .col-lg-1-5 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
  
.col-xs-1-5 {
  width: 20%;
  float: left;
}
  
@media (min-width: 768px) {
  .col-sm-1-5 {
    width: 20%;
    float: left;
  }
}
  
@media (min-width: 992px) {
  .col-md-1-5 {
    width: 20%;
    float: left;
  }
}
  
@media (min-width: 1200px) {
  .col-lg-1-5 {
    width: 20%;
    float: left;
  }
}
.icon {
  float: left;
  margin-right: 10px;
}
.text {
  overflow: hidden;
}
.search-box {
  position: relative;
  margin: 20px 0;
}
.search-form {
  position: relative;
}
.search-form .form-control {
  border-radius: 0px;
  box-shadow: none;
  border: none;
  height: 32px;
  padding-left: 35px;
  background: none;
  max-width: 185px;
  /* color: #fff; */
  line-height: 32px;
  border-bottom: 2px solid #000;
  text-align: left;
}
.search-form .form-control:focus {
  
}
.search-form button {
  position: absolute;
  left: 0;
  top: -1px;
  width: 32px;
  height: 32px;
  background: none;
  text-align: center;
  border: none;
  font-size: 16px;
  outline: none !important;
  img {
    max-width: 28px;
  }
}
.search-form button:hover {
  
}
#top {
  padding: 30px 0;
}
.top-nav {
  width: 100%;
  li {
    float: none;
    display: inline-block;
    padding: 0 15px;
    position: relative;
        font-size: 14px;
    &:first-child {
      padding-left: 0px;
    }
    &:last-child {
      padding-right: 0px;
    }
    &.dropdown {
      &:after {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        content: "\f0d7";
        font-size: 11px;
        position: absolute;
        top: 4px;
        right: 2px;
        color:#6D6D6D;
      }
    }
    .dropdown-menu {
      li {
        padding: 0px 0;
        width: 100%;
      }
      a {
        text-transform: none;
        &:hover {
          background: @light;
        }
      }

    }
    a {
      color:#6D6D6D;
      text-transform: uppercase;
      text-decoration: none;
      &:hover {
        color:#000;
        text-decoration: none;
      }
    }
  }
}
.dropdown-menu {
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #ff7755;
}
.phone {
  float: right;
  margin-bottom: 10px;
  .icon {
    max-width: 20px;
  }
  font-size: 18px;
  .bold;
  span {
    .normal;
  }
}
.address {
  float: right;
  margin-bottom: 10px;
  .icon {
    max-width: 20px;
  }
}
.h-nav {
  margin: 30px 0 60px;
  padding: 25px 15px;
  border:2px solid @light;
  li {
    width: 19.7%;
    text-align: center;
    display: inline-block;
    img {
      max-width: 50px;
      display: block;
      margin: 0 auto 10px;
      opacity: 1;
    }
    a {
      .bold;
      color:#000;
      font-size: 16px;
      line-height: 18px;
      display: block;
      width: 100%;
      &:hover {
        text-decoration: none;
        color:@red;
        img {
          /*opacity: 0.8;*/
        }
      }
    }
  }
}
#sale-index {
  .box {
    min-height: 260px;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    padding: 30px 30px;
    &.blog-box {

    }
    .btn {
      position: absolute;
      left: 30px;
      bottom: 30px;
      z-index: 10;
    }
  }
  .box.box1 {
    padding: 0 0;
  }
  .box2 {
    background: @light;
  }
  .box5 {
          color:#fff;
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top:0;
      left: 0;
      z-index: 0;
    }
    .small-title {
      position: relative;
      z-index: 10;
    }
    .price {
      position: relative;
      z-index: 10;
      background: @red;
      padding: 10px;
      display: inline-block;
      color:#fff;
      font-size: 24px;
      font-weight: normal;
      margin-left: -30px;
      span {
        .bold;
        font-size: 32px;
      }
    }
  }
  .box6 {
          color:#fff;
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top:0;
      left: 0;
      z-index: 0;
    }
    .small-title {
      position: relative;
      z-index: 10;
    }
  }
}
  a.more {
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-block;
  }
.zamer-box {
    text-align: center;
    img {
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 0;
    }
  }
.sale-index-slider {

 .item {
   min-height: 260px;
   padding: 30px 30px;
 }
  img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  .slider-title {
    color:#fff;
    position: relative;
    z-index: 10;
    display: block;
  }
}
h3 {
  font-size: 24px;
  line-height: 1.1;
  margin-bottom: 20px;
  span {
    .normal;
    font-weight: normal;
    font-size: 22px;
  }
}
h4 {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 10px;
}
.title {
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  &.mb-0 {
    margin-bottom: 0;
  }
}
.wave {
  width: 86px;
  height: 18px;
  background: url(../img/wave.png) no-repeat top center;
  margin: 20px 0;
  display: block;
}
.blog-box {
  padding: 0 0 0 0px !important;
  .inn {
    padding: 30px;
    border:2px solid #000;
    width: 100%;
    height: 100%;
    min-height: 260px;
  }
  .line-title {
    margin-left: -30px;
    position: relative;
    float: left;
    display: inline-block;
    padding: 10px;
    z-index: 10;
    margin-bottom: 15px;
    &:before {
      content: "";
      height: 100%;
      width: 70%;
      background: #f4f4f4;
      top: 0px;
      left: 0px;
      position: absolute;
      z-index: -1;
    }
  }
  .icon-img {
    max-width: 30px;
    position: absolute;
    z-index: -1;
    top: 30px;
    right: 30px;
  }
  p {
    font-size: 14px;
    color:#7E7E7E;
  }
}
a.link {
  color:#000;
  border-bottom: 1px solid @green;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    border-color: transparent;
  }
}
.price {
  position: relative;
  z-index: 10;
  font-size: 24px;
  font-weight: normal;
  span {
    .bold;
    font-size: 32px;
  }
}
.btn i.fa {
  padding-right: 5px;
  padding-left: 5px;
  font-size: 14px;
}
#type-index {
  margin-top: 30px;
  .inn {
    padding: 60px 30px;
    border:7px solid @green;
  }
}
.text-upp {
  text-transform: uppercase;
}
.type-box {
  text-align: center;
  .bold;
  font-weight: bold;
  img {
    margin: 30px 0;
  }
  a {
    
    color:#000;
    &:hover {
      text-decoration: none;
      color:@red;
    }
  }
}
#about-index {
  margin: 90px 0;
}
.bottom {
  margin-top: 30px;
  margin-bottom: 30px;
  .text {
    padding-top: 20px;
    &.pt-0 {
      padding-top: 8px;
    }
  }
  p {
    margin-bottom: 30px;
  }
}
#all-index {
  .box-left {
    background: @blue;
    color:#fff;
    padding: 45px 45px;
    width: 90%;
    .title {
      font-size: 72px;
      margin-bottom: 0;
    }
    .title-two {
      font-size: 24px;
      margin-bottom: 30px;
    }
  .price {
    margin-top: 60px;
    font-size: 24px;
    span {
      font-size: 44px;
    }
   }
  }
  .box-right {
    a {
      color:#000;
    }
    .inn {
      float: left;
      width: 100%;
      margin: 30px 0;
    }
  }
  .icon {
    margin-right: 30px;
    margin-top: 5px;
  }
}
ul.ul-check {
  li {
    padding-left: 45px;
    background: url(../img/check.png) no-repeat left top;
    margin-bottom: 10px;
    font-size: 18px;
    /* line-height: 1.1; */
    min-height: 30px;
    padding-top: 5px;
  }
}
.all-index-slider {
  .owl-dots {
    text-align: left;
    bottom: 0px;
  }
}
a:hover {
  text-decoration: none;
}
#done-index {
  margin: 90px 0 30px;
}
.cat-box {
  text-align: center;
  padding: 30px 15px;
  border:3px solid @green;
  margin-bottom: 30px;
  .cat-box-title {
    color:#000;
    display: inline-block;
    margin-bottom: 10px;
    .bold;
  }
  img {
    margin-bottom: 30px;
  }
  .price {
    margin-bottom: 10px;
  }
}
#footer {
  margin-top: 30px;
  .container {
    padding-top: 60px;
    padding-bottom: 30px;
    border-top:4px solid @light;
  }
  .left {
    .inn {
      width: 100%;
      float: left;
      margin-bottom: 10px;
      .icon {
        max-width: 20px;
        margin-right: 20px;
      }
    }
    .btn {
      margin-top: 30px;
    }
  }
  .map {
    min-height: 400px;
  }
  .copyrights {
    margin-top: 30px;
    font-size: 14px;
  }
}
.bottom .inn {float: left;width: 100%;}
.breadcrumbs {
    margin: 0px 0 60px;
    padding: 15px 30px;
    border: 2px solid #f4f4f4;
}
.breadcrumbs ul li {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  padding-left: 0;
  font-size: 14px;
}
.breadcrumbs ul li:before {
  content: "";
  display: none;
}
.breadcrumbs .B_currentCrumb {
  color: #000;
  /*color:#3974b2;*/
}
.breadcrumbs .separator {
    padding: 0 10px;
    color: #6D6D6D;
    font-size: 12px;
}
.breadcrumbs a {
  color: #6D6D6D;
  border-bottom: none;
}
.breadcrumbs a:hover {
  color: @red;
}
ul.pageList {
  position: relative;
  padding: 0;
  text-align: center;
  width: 100%;
  margin: 10px 0px 60px;
}
ul.pageList li {
  list-style: none;
  margin: 0 11px 0 0;
  padding: 0px;
  display: inline-block;
  position: relative;
  padding-left: 0;
}
ul.pageList li:before {
  content: "";
  display: none;
}
ul.pageList li a {
  display: block;
  min-width: 40px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 38px;
  color: #000;
}
ul.pageList li a i.fa {
  font-size: 14px;
}
ul.pageList li a.active {
  color: @green;
}
ul.pageList li a:hover {
  color: @green;
  text-decoration: none;
  cursor: pointer;
}
ul.pageList li.next {
  background: @green;
  border-radius: 50%;
}
ul.pageList li.next:hover {
  
}
ul.pageList li.next:hover a {
  color: #000;
}
#article {
  margin-top: 60px;
}
.left-menu {
  .box {
    position: relative;
    margin-bottom: 30px;
    padding: 30px 0;
  }
  .menu {
    padding-left: 30px;
    &:before {
      content: "";
      width: 70%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      background: #FAFAFA;
      z-index: -1;
    }
  }
}
.left-menu ul > li {
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  .bold;
  a {
    color:#000;
    &:hover {
      color:@red;
    }
  }
}
.left-menu ul > li:last-child {
  border-bottom: none;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.left-menu ul > li ul {
  margin-left: 20px;
  margin-top: 20px;
}
.left-menu ul > li li {
  border-bottom: none;
  padding-bottom: 0px;
  text-transform: none;
  .normal;
}
.left-menu ul li.active > a {
  color:@red;
}
.cat-box.big {
  margin-bottom: 30px;
  border:5px solid @light;
  position: relative;
  &.red {
    border-color: @red;
    .tag {
      display: block;
      color:#fff;
      background: @red;
    }
  }
  &.green {
    border-color: @green;
    .tag {
      display: block;
      color:#000;
      background: @green;
    }
  }
  .tag {
    display: none;
    text-transform: uppercase;
    color: #fff;
    background: #ff7755;
    padding: 9px 12px;
    position: absolute;
    top: -15px;
    left: -4px;
    font-family: 'Circe-Bold';
    line-height: 1.2;
    .bold;
  }
  &.big {
    text-align: left;
    .img {
      text-align: center;
    }
    .title {
      margin-bottom: 0;
    }
    .s2 {
      color:#6F6F6F;
      margin-bottom: 30px;
      margin-top: 2px;
    }
    .right {
      text-align: center;
    }
  }
}
.content {
  li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 30px;
    min-height: 30px;
    &:before {
      content: "";
      width: 23px;
      height: 30px;
      background: url(../img/check1.png) no-repeat top left;
      position: absolute;
      top: -2px;
      left: 0px;
      background-size: contain;
    }
    /*&:before {
      content:"\f05d";
      font-family: FontAwesome;
      font-size: 16px;
      position: absolute;
      left: 0;
      top: 5px;
      color: @green;
    }*/
  }
}
.col-right  {
  padding-left: 60px;
}
.mt-30 {
  margin-top: 30px;
}
.sticky {
  position: fixed;
  z-index: 101;
  margin-top: 0px;
}
.stop {
  position: relative;
  z-index: 101;
}
.cat-box.big.cart {
  border:none;
  padding: 0;
  margin-bottom: 30px;
  .img {
    position: relative;
    border:3px solid @green;
    img {
      margin: 60px 0;
    }
  }
  .tag {
    top: 15px;
    left: -3px;
  }
  .introtext {
    margin: 15px 0;
    p {
      margin-bottom: 0;
    }
  }
  .link {
    margin-left: 30px;
    .bold;
  }
}
.img-m {
  max-width: 60px;
  margin-bottom: 10px;
  border:2px solid transparent;
  &:hover {
    border-color:@green;
  }
  img {
    margin: 0 0;
  }
}




