.container {
    margin-left: 350px;
}
a {
	color: #008dd0;
}
.slidenav-container {
height: 40px;
}

/* Sliding Subnav Styles */
.slidenav {
	
    position: absolute;
   padding-left: 50px;
}

.slidenav a {
    color: #636363;
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
font-size: 13px;
}
.slidenav a:hover{
    color: #333;
}

.slidenav ul, .slidenav ul li {
    height:40px;
    
    list-style: none;
}

.subnav ul li, .subnav ul, .slidenav-box {
    height: 30px;
    list-style: none;
}

.slidenav ul a, .subnav ul a {
    display: block;
    border-right: 1px solid #939391;
	margin-top: 10px;
	padding-right: 10px;
}
.slidenav ul a:hover{
  
}

.slidenav ul li, .subnav ul li {
    float: left;
}

.slidenav ul li ul {
    display: none;
    position: absolute;
    
    left: 0;
}

.slidenav ul li:hover ul {
    display: block;
}

.subnav ul {
    display: none;
	font-size: 11px;
	position:absolute;
}

.subnav ul a {
	color: #e6e6e6;
	text-decoration: none;
	padding-top: 0px;
	margin: 0px;
	border: none;
}
.subnav ul a:hover {
	color: #fff;
	
}

.slidenav-box {
    margin: 5px 0px;
    line-height: 20px;
    padding: 0px 10px;
	background: url(../img/menu_bg.png);
	/*opacity:0.7;*/
	position: relative;
top: 40px;
z-index: 1000;
border-radius: 0px 0px 5px 5px;
}

.inactive-box {
	visibility: hidden;
}

/* End Sliding Subnav Styles */
