html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tfoot, thead, th {
margin: 0;
padding: 0;
border: 0;
}
table {border-collapse: collapse;}
ol,ul {
	list-style:none;
}
body{
color: #6d6d6d;
font-family: 'PT Sans', sans-serif;
font-size: 14px;
background: #fff;
}
h1, h2, h3, h4, h5, h6{
	
}
h1 {
text-align:left;
margin:10px 0px;
font-size:36px;
}
h2 {
color:#3cc395;
font-size:36px;
margin-bottom:20px;
}
.clear {
clear:both;
}
p {
margin-bottom: 10px;
}
#header {
width:100%;
height: 330px;
margin:0 auto;
padding:40px 0px;
background: url(../img/header.png);
float: left;
}
#center {
width:980px;
margin:0 auto;
position: relative;
}
#top {
width:100%;
height: 60px;
background:#fff;
padding:20px 0px;
float: left;
}
#h_menu {
height: 15px;
padding: 15px 0px;
width:100%;
background:#4ccfc1;
box-shadow: 0px 1px 2px rgba(51, 51, 51, 0.17);
float: left;
z-index: 10;
/*position: fixed;
top: 100px;*/
position:relative;
}
#h_menu li {
list-style-type: none;
display: inline;
}
#h_menu a {
color:#fff;
text-decoration:none;
text-transform:uppercase; 
border-right: 1px solid #fff;
padding: 0px 9px 0px 10px;
}
#h_menu a:hover {
text-decoration:underline;
}
#h_menu ul {
list-style: none;
/*text-align: center;*/
}
.logo {
float: left;
padding-left: 65px;
background: url(../img/logo.png) no-repeat center left;
color: #40bfb5;
font-size: 42px;
font-weight: bolder;
height: 59px;
line-height: 60px;
}
.logo span {
color:#50dfd0;
}
.number {
font-size:14px;
float:right;
text-align:right;
}
.number1 {
font-size:16px;
}
#content {
padding:20px 0px;
width:100%;
float:left;
}
.img1 {
position: absolute;
top: -20px;
right: -65px;
z-index: 1;
width: 600px;
}
#readmore1 {
display: block;
color: #fff;
text-decoration: none;
font-size: 24px;
font-weight: 400;
padding: 8px 20px;
border-radius: 10px;
margin: 20px auto;
background: #3cc395;
width: 200px;
z-index: 3;
position: relative;
text-align: center;
float: right;
right: -105px;
}
#readmore1:hover {
background:#37b087;
}
.text1 {
width:500px;
float:left;
z-index:5;
position:relative;
margin-bottom: 20px;
}
.bg_h1 {
width:100%;
box-shadow: 0px 1px 2px rgba(51, 51, 51, 0.17) inset;
background: url(../img/header.png);
float: left;
}
.bg_h1 h1 {
color:#fff;
}
.box1 {
float: left;
padding: 10px;
width: 200px;
border: 1px solid #e4e4e4;
border-bottom: 4px solid #3cc395;
margin: 20px 10px;
position: relative;
height: 275px;
}
.box1 img {
display:block;
margin:0 auto;
}
#readmore {
display: block;
color: #fff;
text-decoration: none;
font-size: 18px;
font-weight: 400;
padding: 8px 25px;
border-radius: 5px;
margin: 5px 0;
background: #3cc395;
/* width: 180px; */
z-index: 3;
position: relative;
text-align: center;

}
#readmore:hover {
background:#37b087;
}
.t2 {
font-weight:700;
color:#9d9d9d;
font-size: 24px;
line-height: 25px;
}
.box1 #readmore {
float: right;
position: absolute;
right: 10px;
bottom: 10px;
float: right;
}
#footer {
width:100%;
background:#3cc3b5;
color:#fff;
padding:20px 0px;
float:left;
}
.left {
width:50%;
float:left;
}
.right {
width:50%;
float:right;
}
ul.spisok1 {
width:50%;
float:left;
}
ul.spisok1 a {
text-decoration:none;
color:#fff;
}
.spisok1 a:hover {
text-decoration:underline;
}
#footer  .logo{
color: #fff;
background: url(../img/logo_footer.png) no-repeat center left;
}
#footer .logo span {
color: #54f2e1;
}
.number p {
margin-bottom:2px;
}
#bottom {
width:100%;
float:left;
padding:10px 0px;
margin: 30px 0px 0px 0px;
background:#2da89b;
height:20px;
}
.soc_icons {
text-align: right;
position: relative;
top: -5px;
}
.soc_icons img:hover {
opacity: 0.7;
}
/*Форма*/
.popup {
margin: 0 auto;
text-align: center;
width: 100%;
/* padding: 20px; */
height: 100%;
background: #3cc395;
}
.popup-form {
width: 300px;
text-align: center;
margin: 0 auto;
}
.popup-form input[type="text"], .popup-form textarea, .popup-form select {
height: 24px;
padding: 3px 10px;
border: 1px solid #A0A0A0;
color: #353535;
border-radius: 3px;
margin: 3px auto;
width: 205px;
background: #fff;
font-size: 14px;
vertical-align: middle;
box-shadow: 1px 1px 5px rgba(51, 51, 51, 0.36) inset;
}
.popup-form textarea {
min-height:40px;
}
#button2 {
display: inline-block;
color: #fff;
text-decoration: none;
font-size: 25px;
font-weight: 400;
padding: 5px 20px;
border: 3px solid #fff;
border-radius: 10px;
margin-top: 20px;
background: none;
}
#button2:hover {
background: #16BE85;
cursor:pointer;
}
.popup h2 {
color:#fff;
}