html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
}
body{
width: 100%;
margin: 0px;
padding: 0px;
top: 0;
background:#fff;
font-family: Tahoma, Arial, Helvetica, sans-serif;
border-spacing: 5px 0px;
color: #1f1f1f;
font-size:11pt;
background-color: #EEEEEE;

}
h1 {
font-size: 26px;
color: #cc0000;
margin: 20px 0px;
text-align: center;

font: bold Tahoma,Verdana, Arial, Helvetica, sans-serif;
line-height: 35px;
}
h2 {
font-size: 14pt;
color: #cc0000;
margin: 20px 0px;
text-align: center;
font: bold Tahoma,Verdana, Arial, Helvetica, sans-serif;


}
h3 {
font-weight: bold;
color: rgb(178, 34, 34);
text-indent: 0cm;
margin-bottom: 5px;
font-size: 11pt;
}
h4 {
color: rgb(178, 34, 34);
font-size: 14px;
margin-bottom:15px;
margin-top: 15px;
font-weight: bold;
text-align:center;
}
p {
color: #1f1f1f;
line-height: 1.4em;
padding-bottom: 15px;
}
hr {
margin: 0 auto;
width: 100%;
background: url(../img/section-shadow2.png) no-repeat center;
height: 60px;
border: 0px;
}
#wrapper {
width:100%;
}
#main {
width:720px;
margin:0px auto;
}
#text {
padding:20px 60px;
background:#fff;
float:left;
position:relative;
background: #fff;
border: 1px solid #ccc;
-webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
width: 600px;
}

.spisok li {
list-style-type:none;
background: url(../img/li1.png)no-repeat;
font-size: 14px;
line-height: 25px;
padding-left: 30px;
font-weight: bold;
padding-left: 30px;
}
#right h2 {
width: 310px;
margin-top: 0px;
color: #1f1f1f;
}
.spisok1 li {
list-style-type:none;
background: url(../img/li1.png)no-repeat;
font-size: 14px;
line-height: 20px;
padding-left: 40px;
margin-top: 10px;
padding-top: 5px;
}
.spisok10 li {

font-size: 14px;
line-height: 20px;
margin-left: 20px;
margin-top: 5px;
padding-top: 5px;
}
.spisok2 li {
list-style-type:none;

font-size: 14px;
line-height: 20px;

margin-top:5px;
padding-top: 5px;
}
.box1 {
margin-bottom: 20px;

margin: 0 auto 20px auto;
position: relative;

background: #fff;
background: -webkit-gradient(linear, 0% 20%, 0% 1000%, from(#fff), to(#fff), color-stop(.1,#f3f3f3));
background: -moz-linear-gradient(0% 0%, #fff, #f3f3f3 10%, #fff);
border: 1px solid #ccc;
-webkit-box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1) inset;
box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1) inset;
padding:20px 20px;
}
.box1 img {
box-shadow: 3px 3px 3px #ccc;


}
.box500 {
margin-bottom: 20px;

margin: 0 auto 20px auto;
position: relative;
float:left;
background: #fff;

border: 1px solid #ccc;
-webkit-box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1) inset;
box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1) inset;
padding:20px 20px;
}
.otziv {
margin-bottom: 20px;

margin: 0 auto 20px auto;
position: relative;
float:left;
background: rgba(255, 244, 97, 0.53);

border: 1px solid #ccc;
-webkit-box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1) inset;
box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1) inset;
padding:20px 20px;
}
.sp {
margin-bottom:20px;
}
.sp li {
line-height: 20px;
margin-left: 20px;

}
.price {
color: #cc0000;
font-weight:bold;
font-size:17px;
margin-top: 20px;
}
.spisok3 li {
list-style-type:none;
background: url(../img/li3.png)no-repeat;
line-height: 20px;
padding-left: 30px;
margin-top: 10px;
}
.foto {
float:left;margin-right: 20px;margin-bottom: 5px;;border: 1px solid #999;padding: 2px;
}
.box3 {
width:100%;
text-align: center;
margin: 20px 0px;
position: relative;
display: inline-block;
background: #fff;
background: -webkit-gradient(linear, 0% 20%, 0% 1000%, from(#fff), to(#fff), color-stop(.1,#f3f3f3));
background: -moz-linear-gradient(0% 0%, #fff, #f3f3f3 10%, #fff);
border: 1px solid #ccc;
-webkit-box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1) inset;
box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1) inset;
padding:20px 0px;
}
.box3 h2 {
margin:0px 0px 20px 0px;
}
.box10{
	margin: 40px;
	
	min-height: 150px;
	padding: 20px;
	position:relative;
	background: #fff;
	background: -webkit-gradient(linear, 100% 100%, 50% 10%, from(#fff), to(#f3f3f3), color-stop(.1,#fff));
	background: -moz-linear-gradient(100% 50%, #fff, #fff 10%, #f3f3f3);
	border: 1px solid #ccc;
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0, 0.1);
	-moz-box-shadow: 1px 1px 4px rgba(0,0,0, 0.1);
	box-shadow: 1px 1px 4px rgba(0,0,0, 0.1);
	-webkit-border-bottom-right-radius: 60px 5px;
	-moz-border-radius-bottomright: 60px 5px;
	border-bottom-right-radius: 60px 5px;
	
}
.box10:before{
	content: '';
	width: 98%;
	z-index:-1;
	height: 100%;
	padding: 0 0 1px 0;
	position: absolute;
	bottom:0; right:0;
	background: #fff;
	background: -webkit-gradient(linear, 0% 20%, 0% 92%, from(#fff), to(#f9f9f9), color-stop(.1,#fff));
	background: -moz-linear-gradient(0 0 270deg, #fff, #fff 10%, #f9f9f9);
	border: 1px solid #ccc;
	-webkit-box-shadow: 1px 1px 8px rgba(0,0,0, 0.1);
	-moz-box-shadow: 1px 1px 8px rgba(0,0,0,0.1);
	box-shadow: 1px 1px 8px rgba(0,0,0,0.1);
	-webkit-border-bottom-right-radius: 60px 5px;
	-moz-border-radius-bottomright: 60px 5px;
	border-bottom-right-radius: 60px 5px;
	-webkit-transform: skew(2deg,2deg)
						translate(3px,8px);
	-moz-transform: skew(2deg,2deg)
						translate(3px,8px);
		-o-transform: skew(2deg,2deg)
						translate(3px,8px);
	transform: skew(2deg,2deg)
						translate(3px,8px);						
}
.box10:after{
	content: '';
	width: 98%;
	z-index:-1;
	height: 98%;
	padding: 0 0 1px 0;
	position: absolute;
	bottom:0; right:0;
	background: #fff;
	background: -webkit-gradient(linear, 0% 20%, 0% 100%, from(#f3f3f3), to(#f6f6f6), color-stop(.1,#fff));
	background: -moz-linear-gradient(0 0 360deg, #f3f3f3, #fff 10%, #f6f6f6);
	border: 1px solid #ccc;
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0, 0.1);
	-moz-box-shadow: 0px 0px 8px rgba(0,0,0, 0.1);
	box-shadow: 0px 0px 8px rgba(0,0,0, 0.1);
	-webkit-transform: skew(2deg,2deg)
						translate(-1px,2px);
	-moz-transform: skew(2deg,2deg)
						translate(-1px,2px)	;
		-o-transform: skew(2deg,2deg)
						translate(-1px,2px)	;
	transform: skew(2deg,2deg)
						translate(-1px,2px)	;					
}
.clear {clear:both;}
#inline { display: none; width: 600px; }
.box2 h4 {font-weight: bold;
color: rgb(51, 51, 51);font-size: 14px;}
.copyright {margin:0 auto;padding:20px 20px 5px 20px;background:#e2e2e2;border:1px solid #bfbfbf;width:450px;}
.copyright p {color:#646464;font-size: 12px;}
.foto1 {
width: 300px;
margin-left: 10px;
margin-bottom: 10px;
float:right;
}
.part {height:160px;}