html, body {
  height: 100%;
  -webkit-overflow-scrolling: touch; }

body {
  overflow-y: scroll; }

/*mobile and tablet*/
/*tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
  #header {
    background: url(../img/header.jpg) center center no-repeat;
    background-size: cover;
    min-height: 740px;
    margin-top: 90px;
    background-position-x: -160px; }
  #header .logo-box .logo {
    font-weight: 100;
    margin: 0;
    font-size: 44px; }
  #top nav ul li a {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 200;
    transition: all .3s; }
  .u1, .u2, .u3, .u4 {
    width: auto;
    height: auto;
    max-height: 210px;
    max-width: 210px; }
  #content .line-red {
    background: #dd2f2f;
    margin: 30px 15px;
    width: 95%;
    display: block;
    position: relative;
    height: 15px; } }

/*mobile*/
@media (min-width: 320px) and (max-width: 767px) {
  .row-flex, .row-flex > div[class|='col-'] {
    display: block; }
  h2 {
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 26px;
    text-transform: uppercase; }
  #top {
    height: 55px;
    background: #222222;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 3;
    transition: all .3s; }
  #header {
    background: url(../img/header.jpg) center center no-repeat;
    background-size: cover;
    min-height: 440px;
    margin-top: 50px; }
  #header .logo-box {
    position: relative;
    border: 1px solid #fff;
    color: #fff;
    margin-top: 100px;
    padding: 10px;
    text-align: center;
    background: rgba(34, 34, 34, 0.8); }
  #header .logo-box .logo {
    font-weight: 100;
    margin: 0;
    font-size: 24px; }
  #header .logo-box .big {
    text-transform: uppercase;
    font-size: 14px;
    margin: 0; }
  #content .text-inner {
    text-align: center;
    padding: 0px 20px 0 20px; }
  #content .text-inner p {
    font-size: 16px;
    line-height: 1.25em; }
  #content .video {
    width: 100%;
    display: block;
    margin: 30px auto;
    position: relative; }
  #content .line-red {
    background: #dd2f2f;
    margin: 30px 15px;
    width: 90%;
    display: block;
    position: relative;
    height: 15px; }
  #header .texto p {
    color: #fff;
    margin: 100px 0 0 0;
    font-size: 20px;
    text-align: center; }
  #acii .box {
    padding: 20px;
    border: 1px solid #eaeaea;
    height: 100%;
    margin: 20px auto; }
  #cost .box {
    padding: 20px;
    border: 1px solid #eaeaea;
    height: 100%;
    margin: 20px auto; }
  .inner {
    text-align: center;
    padding: 20px 0; }
  #top nav ul li a {
    background: #fff;
    color: #222;
    padding: 15px;
    font-size: 18px;
    margin: 5px auto; }
  #top nav ul li a:focus {
    background: #eee;
    color: #222;
    padding: 20px; }
  .navbar-toggle .icon-bar {
    background: #ffffff; }
  #top nav ul li {
    padding: 5px;
    background: #222; } }
