@charset "UTF-8";
@import "reset.css";
@import "form.css";
@import url(https://fonts.googleapis.com/css?family=Didact+Gothic&subset=latin,cyrillic,cyrillic-ext);

body {
margin: 0;
background: #fff url('../img/bg.jpg') center top;
color: #333;
font-family: 'Didact Gothic', Calibri, Sans-Serif;
overflow-x:hidden;
height:2000px;
}
#clear{
clear:both;
}
#center{
margin:0 auto;
position:relative;
width:960px;
}
ol{
margin: 2em 0px 2em 2em;
}
h1{
color: #222;
font-size: 2.5em;
}
h2{
    color: #454545;
	font-size: 1.4em;
    border-bottom: 2px solid rgba(138, 138, 138, 0.55);
    padding-bottom: 30px;
    margin-bottom: 30px;
}
h3{
color: #222;
font-size: 1.5em;
}
h4{
color: #222;
font-size: 1.2em;
}
p{
font-size: 1em;
margin-bottom: 0.8em;
}
a{
color: #417EB3;
}


#top{
	position: fixed;
    height: 60px;
    width: 100%;
    top: 0px;
    background: #fff;
    border-bottom: #eee;
    box-shadow: 0px 0px 10px #717171;
	z-index: 3;
}
#top nav{
	position: relative;
    top: 20px;
	width: 750px;
}
#top nav ul li{
	border: 1px solid #fff;
    padding: 5px;
    border-radius: 3px;
    display: inline;
    margin: 0px 8px;
	transition: all .3s;
}
#top nav ul li a{
	color:#737373;
	text-decoration:none;
}
#top nav ul li:hover{
	transition: all .3s;
	border: 1px solid #737373;
}

#header{
	margin-top: 90px;
    margin-bottom: 40px;
}
#soc{
	position: relative;
    float: right;
    top: 15px;
}

#logo p{
	text-align: right;
    margin: 20px 20px 0px 20px;
}
#logo .big{
    color: #f00089;
    font-size: 2.6em;
    font-weight: bold;
}
#logo .small{
	color: #737373;
    font-size: 2em;
    margin-top: 0px;
}

#header .adr:first-child{
	margin-top: 20px;
}
#header .adr{
	position:relative;
	margin-left: 45px;
}
#header .adr img{
    position: absolute;
    top: 0px;
    left: -15px;
}
#header .number{
    color: #717171;
font-size: 1.6em;
    margin-top: 20px;
}
#header a{
	background: #95ec00;
    transition: all .3s;
    width: 195px;
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    border: none;
    color: #222;
    position: relative;
    top: -10px;
	cursor: pointer;
}
#header a:hover{
    background: #7DC500;
	transition: all .3s;
	text-decoration:none;
	color:#fff;
}

#menu2{
	background: #f00089;
    height: 60px;
    width: 100%;
    position: relative;
}
#menu2 nav{
	margin: 20px auto 0 auto;
    width: 790px;
}
#menu2 nav ul li{
	border: 1px solid #f00089;
    padding: 5px;
    border-radius: 3px;
    display: inline;
    margin: 0px 8px;
	transition: all .3s;
}
#menu2 nav ul li a{
    color: #fff;
	text-decoration:none;
}
#menu2 nav ul li:hover{
	transition: all .3s;
	border: 1px solid #fff;
}

#akc{
margin-top:50px;	
}
#akc .akc{
	margin:0 auto;
	display:block;
}

#box6{
	width: 95%;
    border: 1px solid #222;
    border-radius: 2px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.55);
    height: 300px;
	margin-bottom: 40px;
}
#box6 .title{
	color: #f00089;
    text-align: center;
    font-size: 1.6em;
    margin: 20px;
}
#box6 .price{
color: #222;
    text-align: center;
    font-size: 1.4em;
}
#box6 .price span{
    font-size: 1.4em;
}
#box6 #but1{
	display: block;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    padding: 12px;
    border: 1px solid #222;
    border-radius: 5px;
    color: #222;
	transition: all .3s;
}
#box6 #but2{
display: block;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    padding: 12px;
    border: 1px solid #222;
    border-radius: 5px;
    color: #222;
    transition: all .3s;
    margin-top: 20px;
    background: #95ec00;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 3px solid #537301;
}
#box6 #but1:hover{
	transition: all .3s;
	text-decoration:none;
background: #E8E8E8;
}
#box6 #but2:hover{
	transition: all .3s;
	    background: #76BB00;
		color:#fff;
		text-decoration:none;
}

#block_adr img{
	position: absolute;
    top: -9px;
    left: 20px;
}
#block_adr p{
	    padding-left: 55px;
}
#block_adr p span{
	color:#f00089;
}

#index_form{
	background: url('../img/index_form.jpg') center top no-repeat;
    height: 400px;
    padding: 30px;
	margin: 60px 0px;
}
#index_form h3{
	font-size: 2.6em;
    text-align: center;
    margin: 20px;
}
#index_form .wc{
    background: #fff;
    width: 30%;
    border: 0px;
    border-radius: 5px;
    padding: 10px;
}
#index_form .cc{
	width: 91%;
    margin-top: 20px;
    border: 0px;
    padding: 10px;
    height: 100px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
}
#index_form #submit{
    margin-left: 17%;
    width: 60%;
    text-align: center;
    padding: 12px;
    border: 1px solid #222;
    border-radius: 5px;
    color: #222;
    transition: all .3s;
    margin-top: 20px;
    background: #95ec00;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 3px solid #537301;
}
#index_form #submit:hover{
	transition: all .3s;
	    background: #76BB00;
		color:#fff;
		text-decoration:none;
}


/*transition: all .3s;*/

footer{
	background:#fff;
}

#menu_footer{
	background: #f00089;
    height: 120px;
    width: 100%;
    position: relative;
}
#menu_footer #line{
	border-bottom: 2px solid rgba(155, 155, 155, 0.4);
    margin-top: 20px;
}
#menu_footer .f_nav1{
	margin: 20px auto 0 auto;
    width: 790px;
}
#menu_footer .f_nav1 ul li{
	border: 1px solid #f00089;
    padding: 5px;
    border-radius: 3px;
    display: inline;
    margin: 0px 8px;
	transition: all .3s;
}
#menu_footer .f_nav1 ul li a{
    color: #CACACA;
	text-decoration:none;
}
#menu_footer .f_nav1 ul li:hover{
	transition: all .3s;
	border: 1px solid #fff;
}

#menu_footer .f_nav2{
	margin: 20px auto 0 auto;
    width: 920px;
}
#menu_footer .f_nav2 ul li{
	border: 1px solid #f00089;
    padding: 5px;
    border-radius: 3px;
    display: inline;
    margin: 0px 8px;
	transition: all .3s;
}
#menu_footer .f_nav2 ul li a{
    color: #CACACA;
	text-decoration:none;
}
#menu_footer .f_nav2 ul li:hover{
	transition: all .3s;
	border: 1px solid #fff;
}

#footer .modalbox{
	background: #95ec00;
    transition: all .3s;
    width: 195px;
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    border: none;
    color: #222;
    position: relative;
    top: -10px;
	cursor: pointer;
}
#footer .modalbox:hover{
    background: #7DC500;
	transition: all .3s;
	text-decoration:none;
	color:#fff;
}
#footer .number {
    color: #717171;
    font-size: 1.6em;
    margin-top: 20px;
}
#footer #soc{
    margin-top: 50px;
}
#footer{
	padding-top:30px;
	padding-bottom:30px;
}