html, body {height: 100%;
-webkit-overflow-scrolling: touch;
}
body{overflow-y: scroll;}
/*mobile and tablet*/
@media (min-width: 320px) and  (max-width: 1023px) {
	.tooltip {top: -65px;right: 20px;background: url(../img/tooltip2.png) no-repeat center center;padding: 12px 50px 12px 15px;}
}
/*tablet*/
@media (min-width: 768px) and  (max-width: 1024px) {
	.reviews-slider {font-size: 14px;}
}
/*mobile*/
@media (min-width: 320px) and  (max-width: 767px) { 
	body {font-size: 14px;line-height: 1.3;}
	#top {position: relative;background: #fff;}
	#header .box .left {font-size: 12px;padding: 0 10px;line-height: 24px;}
	#header .box .left p {margin-bottom: 0;}
	#header .box .left .line {margin-bottom: 0;}
	#header .box .right {font-size: 13px;padding: 0 10px;line-height: 24px;}
	#header {min-height: 320px;padding: 0 0;background: url(../img/header/bg-mobile.jpg) no-repeat top right;}
	#header .box {margin: 20px 0 30px;}
	.title {font-size: 24px;margin-bottom: 20px;}
	#header .title {width: 50%;margin-bottom: 150px;}
	#header .big {text-align: center;font-size: 16px;color:#333;}
	#why .inner {padding: 30px 0;border-radius: none;box-shadow: none;margin: 0 0;background: #fff;}
	#why .inner .big {font-size: 18px;margin-bottom: 20px;}
	#result {padding: 30px 0;background: none;}
	.btn {font-size: 14px;padding: 8px 0;height: auto;}
	#reviews {background-size:cover;min-height: 560px;padding: 30px 0 0;}
	#reviews .text {text-align: center;}
	#reviews .text {max-width: 100%;}
	#reviews .title {text-align: center;}
	#timetable .inner {background: #fff;margin: 0;padding: 30px 0;border-radius: none;box-shadow: none;}
	.timetable-slider .owl-nav .owl-next {right:0;}
	.timetable-slider .owl-nav .owl-prev {left:0;}
	#timetable .inner .item {padding: 60px 20px 0;}
	#about {text-align: center;background: none;padding: 30px 0;}
	#about .title {text-align: center;}
	#about .text {text-align: left;margin-top: 20px;}
	#about .big {font-size: 18px;margin-bottom: 20px;}
	#how {padding: 30px 0;}
	#private {padding: 30px 0;background: none;text-align: center;}
	#private h2 {margin-top: 0;text-align: center;font-size: 16px;margin-bottom: 20px;}
	#price .inner {padding: 30px 0;border-radius: none;box-shadow: none;margin: 0 0;background: none;}
	.price-slider .owl-dots {top:0px;}
	#faq {padding: 30px 0;background: none;}
	#faq .item {border-radius: 10px;padding: 15px;}
	#features {padding: 30px 0;background: none;}
	#features .box p {padding: 0 0;}
	#free {padding: 30px 0;}
	#free .big {font-size: 18px;margin-bottom: 20px;}
	#footer {padding: 30px 0;text-align: center;}
	#footer .footer-info {text-align: center;margin-top: 20px;}
	#top .logo {float:left;}
	#top .logo img {max-width: 200px;margin-top: -10px;margin-bottom: 10px;width: 100%;}
	#top .logo p {color:#f0b67f;padding-left: 10px;}
	#top .top-nav {padding: 10px 0 0;}
	.navbar-nav {margin: 0;background: #02020e;text-align: center;}
	.navbar-nav li a {padding: 10px 15px;}
	.navbar-nav li {padding: 0;}
	#top {position: fixed;top:0px;left: 0px;width: 100%;}
	#top.fixed {background: #fff;}
	#header {margin-top: 73px;}
	#form {padding: 0px 0;background: #fff;height: auto;}
	#form .inner {border-radius: none;box-shadow: none;padding: 30px 40px;}
	#form .inner .title {font-size: 24px;margin-bottom: 20px;line-height: 34px;}
	#form .inner form i.fa {display: none;}
	.modal-dialog.video .modal-content {height: auto;}
	.modal-dialog.video .modal-content .close {position: relative;top: 0;right: 0;color: #333;}
	.reviews-slider .owl-nav {left: 0px;top: -184px;}
	.reviews-slider {left: 90px;}
	#reviews {background-size: cover;}
	#reviews .text {max-width: 100%;font-size: 16px;}
	.reviews-slider p.name {margin-top: 100px;}
	.slider-bg {margin-top: 55px;}
	.counter {margin-top: 30px;margin-left: 173px;}
	#form .inner form {max-width: 100%;}
	#result .title {max-width: 80%;margin: 0 auto 20px;}
	#price .box {max-width: 500px;width: 100%;margin: 20px auto 40px;}
	ul.sp li {padding-left: 25px;margin-bottom: 12px;}
}
@media (min-width: 768px) and  (max-width: 991px) { 
	.navbar-toggle .icon-bar {background: #fff;}
	#top .top-nav p {float: left;width: 75%;}
	#top .top-info {padding: 5px 0 0;}
	#top .logo img {padding: 20px 0 0;}
	#features {background: none;}
	.reviews-slider .owl-nav {left: -175px;top: -200px;}
	.reviews-slider {left: 160px;}
	#reviews {background-size: cover;}
	#reviews .text {max-width: 100%;}
	.slider-bg {margin-top: 80px;max-width: 100%;}
	.reviews-slider p.name {margin-top: 70px;}
	#form .inner {padding: 30px 60px;background: #ffffff url(../img/timetable/bg-inner.png) no-repeat;background-position: 50% 110%;}
	/*.tooltip {top:-100px;left: -100%;}*/
	#form .inner form {max-width: 100%;}
	#form .btn {max-width: 100%;}
	#price .box {max-width: 500px;margin: 0 auto 40px;}
	#top .top-info .phone {margin-bottom: 0px;font-size: 14px;margin-top: 10px;}
}
@media (min-width: 460px) and  (max-width: 768px) {
	#form .inner {padding: 30px 40px;background: #ffffff url(../img/timetable/bg-inner.png) no-repeat;background-position: 50% 110%;}
	#form .inner .logo {text-align: left;}
	#form {padding: 30px 30px;background: none;}
}
@media (min-width: 992px) and  (max-width: 1200px) {
	.reviews-slider .owl-nav {left: -205%;}
	.counter {margin-top: 15px;}
	.slider-bg {width: 580px;}
}
@media (min-width: 320px) and  (max-width: 680px) {  
	.slider-bg {background: none;height: 260px;margin-top: 0;max-width: 100%;}
	.slider-bg .item {height: 260px;}
	.reviews-slider {max-width: 100%;color:#fff;text-align: center;left: 0px;top:0px;transform:rotate(0deg);}
	.reviews-slider .owl-nav {transform: rotate(0deg);top: -330px;left: auto;right: auto;margin: 0 auto;text-align: center;display: block;position: relative;}
	.counter {text-align: center;margin: 30px auto;display: block;width: 90px;}
	.reviews-slider p.name {margin: 20px 0;}
	#reviews {min-height: auto;}
}

@media (min-width: 992px) and  (max-width: 1300px) {
	.navbar-nav li a {font-size: 12px;}
	
}
@media (min-width: 992px) {
	.navbar-nav li:first-child {padding: 0 5px 0 0;}
}
@media (min-width: 1199px) and  (max-width: 1300px) {
	.reviews-slider .owl-nav {left: -240%;}
}



