@red:#fe5f55;
@orange:#f0b67f;
.shadow {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
}
.bold {
  font-family: 'ProximaNova-Bold';
}
/* font-family: "ProximaNovaRegular"; */
@font-face {
    font-family: "ProximaNovaRegular";
    src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
    src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"),
    url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/ProximaNovaBold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNovaBold/ProximaNova-Bold.otf')  format('opentype'),
       url('../fonts/ProximaNovaBold/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNovaBold/ProximaNova-Bold.ttf')  format('truetype'), url('../fonts/ProximaNovaBold/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* font-family: "MerriweatherRegular"; */
@font-face {
    font-family: "MerriweatherRegular";
    src: url("../fonts/MerriweatherRegular/MerriweatherRegular.eot");
    src: url("../fonts/MerriweatherRegular/MerriweatherRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MerriweatherRegular/MerriweatherRegular.woff") format("woff"),
    url("../fonts/MerriweatherRegular/MerriweatherRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MerriweatherBold"; */
@font-face {
    font-family: "MerriweatherBold";
    src: url("../fonts/MerriweatherBold/MerriweatherBold.eot");
    src: url("../fonts/MerriweatherBold/MerriweatherBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MerriweatherBold/MerriweatherBold.woff") format("woff"),
    url("../fonts/MerriweatherBold/MerriweatherBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/*reset*/
*{margin:0;padding:0;}                
:focus { outline: 0;}
body{
color: #333;
font-size: 18px;
line-height: 1.5;
font-family: "ProximaNovaRegular", sans-serif;
background: #fff;
}
a, a:focus, a:active, input, input:focus, input:active, button, button:focus, button:active, .btn, .btn:focus, .btn:active  {
    outline: none !important;
}
a {
  
}
a:hover {
  text-decoration:underline;
}
a.btn:hover, a.btn:focus, a.btn:active {
  text-decoration:none;
}
ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
}
h1, h2, h3, h4, h5, h6, .font-alt, .title{
  font-family: "MerriweatherBold";
}
h1{
  
}
.clear {
clear:both;
}
.w-100 {
  width: 100%;
}
img {
  max-width: 100%;
}
p {
  margin-bottom: 10px;
}
.navbar-toggle .icon-bar {
  background: #020310;
}
.owl-nav .owl-prev,
.owl-nav .owl-next {
  width: 40px;
  height: 80px;
  z-index: 100;
  opacity: 0.9;
  top: 50%;
  margin-top: -22px;
  position: absolute;
  font-size: 52px;
  text-align: center;
  color: #7D7D7A;
}
.owl-nav .owl-prev:hover,
.owl-nav .owl-next:hover {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  opacity: 1;
}
.owl-nav .owl-prev {
  left: -60px;
}
.owl-nav .owl-next {
  right: -60px;
}
.owl-nav .owl-prev:before {
  content: "\f104";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  margin: 5px 0 0 0;
}
.owl-nav .owl-next:before {
  content: "\f105";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  margin: 5px 0 0 0;
}
.owl-dots {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 10px;
}
.owl-dot {
  border: none;
  text-indent: -3000px;
  width: 16px;
  height: 16px;
  background: transparent;
  outline: none;
  padding: 0;
  margin: 0;
  margin-right: 8px;
  border-radius: 50%;
  border:1px solid @red;
  display: inline-block;
}
.owl-dot.active {
  background: @red;
}
.close {
  width: 28px;
  height: 28px;
  border: none;
  opacity: 1;
  font-weight: normal;
  background: transparent;
  color: #404040;
  margin-top: 0px;
  margin-right: -5px;
  text-shadow: none;
  /* border-radius: 50%; */
  float: right;
}
.close:before {
  content: "\f00d";
  display: block;
  font-family: FontAwesome;
}
.modal-content {
  border-radius: 5px;
  border: 0px;
  padding: 20px;
  background: #EEEDE7;
}
@media (min-width: 768px) {
  .modal-content {
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  }
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 400px;
    margin: 30px auto;
  }
}
@media (min-width: 768px) {
  .modal-dialog.big {
    width: 100%;
    max-width: 800px;
  }
}
.modal-dialog.video {
  .modal-content {
    padding: 0 0;
    height: 450px;
    iframe {
      border-radius: 5px;
    }
  }
  .close {
    position: absolute;
    color: #fff;
    top: -20px;
    right: -20px;
  }
}
.form-horizontal .form-group {
  margin-right: 0px;
  margin-left: 0px;
}
.form-control {
  border: 1px solid #c6c6c6;
  border-radius: 4px;
  padding: 6px 15px;
  box-shadow: 0 3px 0px rgba(0, 0, 0, 0.1) inset;
  height: 40px;
  padding: 6px 12px;
}
.form-control:focus {
  border: 1px solid @orange;
  box-shadow: 0 3px 0px @orange inset;
}
select.form-control {
  height: 42px;
}
.btn {
    padding: 12px 40px;
    border: none;
    border-radius: 25px;
    background: @red;
    color: #fff;
    font-size: 18px;
    .bold;
    text-transform: uppercase;
    display: inline-block;
    height: 50px;
    text-shadow:0px 1px 1px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #fe4b3f;
}
.btn:hover {
  background: #e0534a;
  color: #fff;
  border-bottom: 3px solid #e0534a;
}
.btn:focus {
  color: #fff;
  background: @red;
}
.pr-0 {
  padding-right: 0;
}
.pl-0 {
  padding-left: 0;
}
@media (min-width: 1300px) {
.container {width: 1230px;}
}
@media (max-width: 1300px) { 
  .navbar-nav {
    li {
      padding: 0 4px;
      a {
        font-size: 11px;
      }
    }
  }
}
.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333141 url(../img/bg.png);
  z-index: -1;
  top:0;
  left: 0;
  color:#fff;
}
section {
  position: relative;
  width: 100%;
  float: left;
}
.title {
  color:@orange;
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
}
#top {
  /*background: rgba(37, 34, 47, 0.2);*/
  background: rgba(37, 34, 47, 0.85);
  position: fixed;
  top:0;
  left: 0;
  z-index: 20;
  color:#fff;
  &.fixed {
    background: rgba(37, 34, 47, 0.85);
  }
  .logo {
    img {
      padding: 10px 0 0;
    }
  }
  .top-nav {
    padding: 20px 0;
    p {
      font-size: 16px;
      color:#f0b67f;
    }
  }
  .top-info {
    padding: 15px 0;
    text-align: right;
    .phone {
      .bold;
      margin-bottom: 0;
    }
    img {
      margin-right: 5px;
    }
    a {
      color:#fff;
      text-decoration: underline;
      &:hover {
        color:@orange;
        text-decoration: none;
      }
    }
  }
}
.navbar {
  min-height: auto;
  margin-bottom: 0;
  border-bottom: none;
}
.navbar-nav {
  li {
    padding: 0 5px;
    &:first-child {
      /*padding: 0 5px 0 0;*/
    }
    a {
      color:#fff;
      text-transform: uppercase;
      padding: 0 0px;
      font-size: 13px;
      &:hover {
        color:@orange;
        text-decoration: none;
        background: none !important;
      }
      &:focus {
        color:@orange;
        text-decoration: none;
        background: none !important;
      }
    }
  }
}
.mb-0 {
  margin-bottom: 0;
}
.navbar-nav {
  margin: 0;
}
.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
  border-top: none;
  margin: 0;
  box-shadow: none;
}
#header {
  color:#fff;
  background: url(../img/header/bg.jpg) no-repeat top center;
  min-height: 800px;
  padding:100px 0 60px;
  .box {
    margin: 95px 0 80px;
    width: 100%;
    float: left;
    .left {
      float: left;
      text-align: center;
      font-size: 16px;
      .bold;
      text-transform: uppercase;
      padding: 0 15px;
      border-right: 1px solid rgba(240, 182, 127, 0.35);
      .line {
        display: block;
        margin: 0 auto 10px;
        width: 12px;
        height: 1px;
        background: #fff;
      }
    }
    .right {
      float: left;
      font-size: 24px;
      line-height: 30px;
      padding: 0 15px;
      p {
        margin-bottom: 0;
      }
    }
  }
  .title {
    text-align: left;
  }
  .big {
    font-size: 24px;
    .bold;
  }
  a.down {
    position: absolute;
    bottom: 100px;
    color:rgba(255, 255, 255, 0.3);
    img {
      margin-right: 15px;
      margin-left: 15px;
    }
  }
}
#why {
  .inner {
    padding: 90px 30px;
    text-align: center;
    border-radius: 30px;
    margin: -50px 0;
    background: #fff url(../img/why/bg.png) no-repeat center left;
    position: relative;
    z-index: 5;
    .shadow;
    .big {
      font-size: 24px;
      .bold;
      margin-bottom: 40px;
    }
    .text {
      margin: 0 auto;
      max-width: 600px;
      text-align: left;
    }
  }
  .line {
    width: 100%;
    height: 2px;
    background: #fae9d8;
    margin-top: 20px;
  }
}
#result {
  padding: 140px 0 90px;
  color:#fff;
  background: url(../img/result/bg.jpg) no-repeat center left;
  .btn {
    width: 100%;
    max-width: 570px;
  }
}
ul.sp {
  li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
    background: url(../img/li.png);
    background-repeat: no-repeat;
    background-position: 0px 5px;
    line-height: 22px;
  }
}
#reviews {
  padding: 90px 0 0;
  background: url(../img/reviews/bg.jpg) top center;
  /*min-height: 710px;*/
  color:#fff;
  .inner {
    position: relative;
  }
  .title {
    color:#fff;
    text-align: left;
  }
  .text {
    max-width: 360px;
    width: 100%;
  }
}
.slider-bg {
  width: 100%;
  max-width: 580px;
  height: 650px;
  background: url(../img/reviews/1.png) no-repeat top center;
  position: relative;
}
.reviews-slider {
  max-width: 240px;
  position: absolute;
  top: 90px;
  left: 87px;
  font-size: 15px;
  color: #333;
  transform: rotate(3deg);
  padding: 8px;
  text-align: left;
  padding: 10px;
  p.text {
    min-height: 330px;
  }
  p.name {
    font-size: 18px;
    margin: 55px 0 0 50px;
  }
  .inner {
    position: relative;
  }
  .owl-nav .owl-prev, .owl-nav .owl-next {
    width: 36px;
    height: 36px;
    background: @red;
    border-radius: 100%;
    color:#fff;
    font-size: 26px;
    line-height: 36px;
    margin-top: 0;
    text-align: center;
  }
  .owl-nav {
    position: absolute;
    top: 170px;
    left: -250%;
    transform: rotate(-3deg);
    width: 170px;
    height: 40px;
    background: url(../img/owl-nav.png) no-repeat top center;
  }
  .owl-nav .owl-prev {
    left:2px;
    top:2px;
  }
  .owl-nav .owl-next {
    top:2px;
    right:2px;
  }
}
.counter {
    position: relative;
    font-size: 14px;
    z-index: 10;
    font-family: 'ProximaNova-Bold';
    color: #333;
    text-transform: uppercase;
    margin-top: 10px;
    display: inline-block;
    margin-left: 68px;
}
#timetable {
  background: #fff url(../img/timetable/bg.png) repeat-x top center;
  background-position: 0 22px;
  .inner {
    padding: 90px 0px;
    background: #fff url(../img/timetable/bg-inner.png) no-repeat bottom center;
    .shadow;
    border-radius: 30px;
    margin: -50px 0;
    position: relative;
    z-index: 5;
    .item {
      padding: 60px 30px;
      background: url(../img/timetable/bg-item.png) no-repeat top center;
      text-align: center;
    }
    .day {
      text-transform: uppercase;
      .bold;
      font-size: 14px;
    }
    .date {
      text-transform: uppercase;
      .bold;
      font-size: 14px;
      margin-bottom: 30px;
    }
  }
  .btn {
    width: 100%;
    max-width: 570px;
    margin-top: 30px;
  }
}
.timetable-slider {
  .owl-nav .owl-prev, .owl-nav .owl-next {
    color:@red;
    font-size: 26px;
    margin-top: 0;
    top: -2px;
    /*background: #fff;*/
  }
  .owl-nav .owl-prev {
    left: -45px;
    &:before {
      content:"\f177";
    }
  }
  .owl-nav .owl-next {
    right: -45px;
    &:before {
      content:"\f178";
    }
  }
}
#about {
  background: url(../img/about/bg.jpg) no-repeat top right;
  padding: 140px 0 60px;
  color:#fff;
  .title {
    text-align: left;
    margin-bottom: 10px;
  }
  .big {
    font-size: 24px;
    margin-bottom: 40px;
  }
  .img {
    position: relative;
  }
  .icon-youtube {
    position: absolute;
    left: 200px;
    bottom:0px;
    &:hover {
      opacity: 0.8;
    }
  }
}
#how {
  padding: 60px 0;
  .box {
    text-align: center;
    img {
      margin-bottom: 20px;
    }
  }
}
#private {
  padding: 40px 0 90px;
  background: url(../img/private/bg.jpg) no-repeat center left;
  color:#fff;
  h2 {
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 20px;
    text-align: right;
    font-family: "ProximaNovaRegular";
  }
}
#price {
  .inner {
    padding: 90px 30px;
    background: #ffffff url(../img/timetable/bg-inner.png) no-repeat bottom center;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin: -50px 0;
    position: relative;
    z-index: 5;
  }
  .box {
    background: #fef9f5;
    margin: 30px 0;
    border:2px solid #fae9d8;
    border-radius: 10px;
    padding: 30px 15px 50px;
    position: relative;
    text-align: center;
    p {
      margin-bottom: 0;
    }
    .name {
      text-align: center;
      color:@red;
      text-transform: uppercase;
      font-size: 14px;
      margin-bottom: 0;
    }
    .price {
      font-size: 24px;
      .bold;
      text-align: center;
      margin-bottom: 0;
    }
    .sp {
      text-align: left;
      li {
        &:before {
          color:#f0b67f;
        }
      }
    }
    .btn {
      width: 100%;
      position: absolute;
      bottom:-18px;
      left: 0px;
      max-width: 100%;
    }
  }
}
hr {
  border-top: 2px solid #fae9d8;
}
#faq {
  padding: 140px 0 60px;
  background: url(../img/faq/bg.jpg) no-repeat center left;
  .item {
    background: #fff url(../img/faq/bg-item.png) no-repeat top right;
    border-radius: 15px;
    .shadow;
    padding: 25px;
    .big {
      .bold;
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 0;
    }
  }
  .btn {
    margin-top: 40px;
    width: 100%;
    max-width: 570px;
  }
}
.faq-slider {
  padding-bottom: 60px;
}
.faq-slider .owl-nav .owl-prev, .faq-slider .owl-nav .owl-next {
  color: #fe5f55;
  font-size: 26px;
}
.faq-slider .owl-nav .owl-next:before {
  content:"\f178";
}
.faq-slider .owl-nav .owl-prev:before {
  content:"\f177";
}
.text-center {
  text-align: center;
}
#features {
  padding: 60px 0 55px;
  background: url(../img/features/bg.jpg) no-repeat top right;
  /*.line {
    &:before {
      position: absolute;
      width: 100%;
      height: 1px;
      background: #fae9d8;
      left: 0px;
      top:40px;
    }
  }*/
  .box {
    text-align: center;
    margin-bottom: 30px;
    p {
      margin-bottom: 0;
      padding: 0 15px;
    }
    img {
      margin-bottom: 20px;
    }
  }
}
#free {
  padding: 60px 0 80px;
  text-align: center;
  color:#fff;
  .big {
    .bold;
    margin-bottom: 40px;
    font-size: 24px;
  }
}
.btn {
  width: 100%;
  max-width: 570px;
}
#footer {
  padding: 60px 0 40px; 
  .logo {
    font-size: 13px;
    text-align: center;
    img {
      margin:-10px 0 10px;
    }
  }
  a {
    color:#333;
    text-decoration: none;
    padding-bottom: 0px;
    border-bottom: 1px solid #c3c3c3;
    &:hover {
      color:@red;
      text-decoration: none;
      border-bottom: none;
    }
  }
  .footer-info {
    img {
      margin-right: 5px;
    }
    .phone {
      .bold;
    }
    a {
      font-size: 16px;
    }
  }
}
.navbar-toggle {
  float: left;
}
#form {
  width: 100%;
  /*height: 100%;*/
  padding: 60px 0;
  .inner {
    padding: 60px 0;
    border-radius: 20px;
    background: #ffffff url(../img/form/bg.png) no-repeat center center;
    
    position: relative;
    z-index: 5;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
    background-attachment: fixed;
    .title {
      text-align: left;
      margin-bottom: 30px;
      margin-top: 0;
      font-size: 30px;
      line-height: 38px;
    }
    .price {
      .bold;
      font-size: 24px;
    }
    form {
      width: 100%;
      max-width: 350px;
      position: relative;
      i.fa {
        font-size: 24px;
        color:@red;
        position: absolute;
        top:3px;
        right:-30px;
        &:hover {
          color:#ffada8;
        }
      }
      .form-group {
        position: relative;
      }
    }
    .line {
      color:#999999;
      font-size: 14px;
      text-transform: uppercase;
      background: url(../img/line.png) repeat-x center center;
      margin-bottom: 20px;
      .bold;
      span {
        background: #fff;
        padding-right: 20px;
      }
    }
    .btn {
      margin-top: 20px;
    }
    a.promo {
      color:#fe5f55;
      border-bottom: 1px dashed #fe5f55;
      display: inline-block;
      margin-bottom: 10px;
      font-size: 15px;
      margin-left: 15px;
      line-height: 16px;
      &:hover {
        border-bottom: 1px dashed transparent;
        color:@orange;
        text-decoration: none;
      }
      &:focus {
        text-decoration: none;
      }
    }
    .logo {
      text-align: center;
      margin-bottom: 20px;
      a {
        display: inline-block;
      }
    }
  }
}
.mb-40 {
  margin-bottom: 40px;
}
.win {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #eee;
  text-align: center;
  background: url(../img/header/bg.jpg) no-repeat top center;
  background-size: cover;
  color: #fff;
  padding: 15% 0;
}
.win h1 {
  font-size: 48px;
  margin-bottom: 20px;
}
.win .btn {
  text-decoration: none;
  display: inline-block;
  max-width: 240px;
  margin-top: 40px;
  height: 50px;
  line-height: 50px;
  padding: 0px 40px;
}
.win .overlay {
  /*position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -5;
  background: rgba(91, 81, 80, 0.85);*/
}
.tooltip-icon .tooltip {
  display: none;
  font-family: "ProximaNovaRegular", sans-serif;
}
.tooltip-icon:hover .tooltip {

}
.tooltip-icon {
  position: absolute;
  top:0px;
  right:-25px;
  width: 20px;
  height: 20px;
  background: url(../img/tooltip-icon.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  display: inline-block;
  &:hover {
    background-position: 0px -20px;
    cursor: pointer;
  }
}
.tooltip {
  position: absolute;
  background: url(../img/tooltip.png) no-repeat center center;
  font-size: 14px;
  top:-65px;
  right: -300px;
  display: block;
  width:297px;
  height: 77px;
  display: block;
  text-align: center;
  padding: 12px 15px 12px 50px;
  margin-left: 10px;
}
.navbar {
  border:none;
}
.modal-content {
  h3 {
    margin-bottom: 20px;
  }
}
.modal-dialog.video {
  margin: 10% auto;
}
.mb-20 {
  margin-bottom: 20px;
}
.faq-slider .owl-nav .owl-next, .faq-slider .owl-nav .owl-prev{
  top:40%;
}
.mb-10 {
  margin-bottom: 10px;
}


